/* --------------------
   WHAT WE DO SECTION
--------------------- */
.what-we-do {
    text-align: center;
    padding: 80px 20px;
}

.what-we-do h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.section-description {
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 50px;
    font-size: 16px;
    color: #555;
}

/* SERVICES GRID */
.services {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

/* SERVICE BOX */
.service-item {
    text-align: center;
}

.service-item span {
    font-size: 60px;
    color: var(--primary-color);
    display: inline-block;
    margin-bottom: 20px;
}

.service-item h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.service-item p {
    font-size: 14px;
    color: #555;
}

/* RESPONSIVE (Mobile) */
@media (max-width: 480px) {
    .services {
        grid-template-columns: 1fr;
        gap: 30px;
    }
}
